@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ysabeau+SC:wght@500&display=swap');

body {
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    font-family: 'Roboto', sans-serif;
}

div.navbar {
    grid-row: span 2;
    background-color: #609ea2;
    color: #fff;
    font-size: 24px;
}

div.navbar > * {
    margin: 2rem;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

.home {
    padding-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.search-container {
    flex: 1;
}

.searchbar {
    display: flex;
    gap: 1rem;
}

input {
    width: min(100%, 500px);
    border-radius: 1rem;
    border: 0px;
    background-color: #f0eeed;
}

div.content {
    background-color: #f0eeed;
    padding: 3rem;
    gap: 3rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: minmax(200px, 500px)
}

.content-container > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-container h3 {
    margin-left: 24px;
}

.add-button {
    background-color: #609ea2;
    color: #fff;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
    margin-right: 8px;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.add-button::before,
.add-button::after {
    position: absolute;
    content: '';
    width: 4px;
    height: 24px;
    background-color: #fff;
}

.add-button::before {
    transform: rotate(90deg);
}

.card-container {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
}

.card {
    background-color: #fff;
    border: 0;
    border-radius: 0.5rem;
    border-left: 10px solid #c92c6d;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task {
    margin-right: auto;
}

.due-date {
    width: 100px;
}

.prio {
    width: 50px;
}

.done-btn, .delete-btn {
    border: 0;
    margin-left: 6px;
}

/*
#f0eeed = hellgrau
#609ea2 = Petrol
#c92c6d = Pink
#332c39 = Schwarz
*/